.sc-chat-window {
  width: 485px;
  height: calc(100% - 120px);
  max-height: 447px;
  position: fixed;
  right: 25px;
  bottom: 10px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgba(148, 149, 150, 0.3);
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sc-chat-window.closed {
  opacity: 0;
  visibility: hidden;
  bottom: 30px;
}

.sc-message-list {
  height: 80%;
  overflow-y: auto;
  background-color: white;
  background-size: 100%;
  padding: 40px 0px;
}

.sc-chat-list.active {
  background: #ffebd2;
  /* margin: 8px 0;
  margin-top: 6px; */
}

.sc-chat-list div {
  float: left;
  padding-top: 8px;
  margin-left: -50px;
  /* margin: 8px 0;
  margin-top: 6px; */
}

.sc-chat-list img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 0.5px solid #bdbdbd;
  margin-right: 8px;
}

.sc-header-list {
  text-align: left;
  color: black;
  padding-left: 15px;
  margin-top: 12px !important;
  margin-bottom: -10px;
}

.sc-chat-list span {
  position: absolute;
  margin-top: 8px;

  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;

  /* Black - 100 */

  color: #282828;
}

.sc-chat-list.active span {
  font-weight: 600;
}

.sc-message--me {
  text-align: right;
}
.sc-message--them {
  text-align: left;
}

.sc-chat-window-list {
  height: calc(130% - 120px);
  max-height: 447px;
  width: 200px;
  background-color: white;
  right: 485px;
  position: absolute;
  bottom: 0px;
  box-sizing: border-box;
  box-shadow: 0px 7px 40px 2px rgb(148 149 150 / 30%);
  /* background: white; */
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 732px) {
  .sc-chat-window {
    width: 100%;
    height: 100%;
    max-height: 100%;
    right: 0px;
    bottom: 0px;
    border-radius: 0px;
  }
  .sc-chat-window {
    transition: 0.1s ease-in-out;
  }
  .sc-chat-window.closed {
    bottom: 0px;
  }
  .sc-chat-window-list {
    display: none;
  }
}
